---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      # - id: check-symlinks
      - id: check-case-conflict
      - id: check-docstring-first
      # - id: pretty-format-json
      #   args:
      #     - "--autofix"
      #     - "--indent=2"
      #     - "--no-sort-keys"
      #     - "--no-ensure-ascii"
      #   exclude: "invalid-syntax.json|tests/fake-repo-bad-json/cookiecutter.json|tests/fake-repo/cookiecutter.json"
      - id: check-toml
      - id: check-yaml
